<div class="edit-form">
    <h4> Edit or Delete </h4>

    <form>

        <div class="form-group">
            <label for="nom"> Nom </label>
            <input type="text" class="form-control" id="nom" required [(ngModel)]="client.nom" name="nom" />
        </div>
        <div class="form-group">
            <label for="prenom">Prenom </label>
            <input type="text" class="form-control" id="prenom" required [(ngModel)]="client.prenom" name="prenom" />

            <div class="form-group">
                <label for="adresse">Adreese </label>
                <input type="text" class="form-control" id="adresse" required [(ngModel)]="client.adresse"
                    name="adresse" />
            </div>

            <div class="form-group">
                <label for="numeroTel"> Numero de telephone </label>
                <input type="text" class="form-control" id="numeroTel" [(ngModel)]="client.numeroTel"
                    name="Numero de Telephone" />
            </div>
        </div>
        <button (click)="updateClient()">Confirmer</button>
    </form>
</div>


